body
{
	font-family: 'VT323', monospace;
	height: 100vh;
	line-height: 1.6;
	//overflow: hidden;
	background: rgb(0,0,0);
	text-shadow: 0 0 10px green;
	color: green;
	.container
	{
		#text
		{
			#selector
			{
				animation-name: selectorAnim;
				animation-duration: 1s;
				animation-iteration-count: infinite;
			}
		}
	}
}
@keyframes selectorAnim
{
	0%{color: rgba(green,0);}
	100%{color: rgba(green,1);}
}
a
{
	color: green;
}
.container
{
	height: 100%;
	width: 100%;
}

#NavigationBar ul
{
	margin-top: -.1vw;
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: left;
}
@media screen and (orientation:portrait)
{
	#NavigationBar
	{
		position: fixed;
		z-index: 1;
		top: 0;
		background-color: rgba($color: #000000, $alpha: 0.0);
		width: 100%;
		height: 6vw;
		display: flex;
		flex-direction: column;
		text-align: right;
	}
	#NavigationBar ul li
	{
		margin: .1vw auto;
		font-size:calc(2px + 5vw);
		color: black;
	}
}	
@media screen and (orientation:landscape)
{
	#NavigationBar
{
	position: fixed;
	z-index: 1;
	top: 0;
	background-color: rgba($color: #000000, $alpha: 0.0);
	width: 100%;
	height: 3vw;
	display: flex;
	flex-direction: column;
	text-align: right;
}
	#NavigationBar ul li
	{
		margin-top: .1vw;
		margin-left: 1vw;
		font-size:calc(2px + 2vw);
		color: black;
	}	
}	
section
{

	height: 100vh;
	width: 100%;
	font-size: 10vw;
	text-align: center;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	text-shadow: 0 0 40px green;
}
section::after
{
	content: "";
	position: absolute;
	width: 80vw;
	height: 80vh;
	background: repeating-linear-gradient(
		0deg,
		rgba(black, 0.15),
		rgba(black, 0.15) 1px,
		transparent 1px,
		transparent 2px
	  );
}