body
{
	font-family: 'Press Start 2P', cursive;
	height: 100vh;
	line-height: 1.6;
	overflow: hidden;
}
a
{
	color: white;
}
.container
{
	height: 100%;
	width: 100%;
	overflow-y: scroll;
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
}
#NavigationBar
{
	position: fixed;
	z-index: 1;
	top: 0;
	background-color: rgba(0,0,0);
	width: 100%;
	height: 3vw;
	display: flex;
	flex-direction: column;
	color: white;
	text-align: right;
}
#NavigationBar ul
{
	margin-top: -.1vw;
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: left;
}
#NavigationBar ul li
{
	margin-top: .7vw;
	margin-left: 1vw;
	font-size:calc(2px + 1vw);
	color: black;
}
section
{
	height: 100vh;
	width: 100%;
	font-size: 10vw;
	text-align: center;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	scroll-snap-align: center;
	background-color: black;
	color: white;
}